<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
  <script type="text/javascript" src="/static/layui/layui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>

  <div class="site-nav-bg">
    <div class="site-nav w1200">
      <p class="sn-back-home">
        <i class="layui-icon layui-icon-home"></i>
        <a href="#">首页</a>
      </p>
      <div class="sn-quick-menu">
        <div class="login"><a href="/logout">退出</a></div>
        <div class="sp-cart"><a href="/protal/shopcart">购物车</a></div>
        <div class="sp-cart"><a href="/protal/myorder">我的订单</a></div>
      </div>
    </div>
  </div>



  <div class="header">
    <div class="headerLayout w1200">
      <div class="headerCon">
        <h1 class="mallLogo">
          <a href="#" title="购物商城">
            <!--<img src="/static/img/logo.png">-->
          </a>
        </h1>
        <div class="mallSearch">
          <form action="" class="layui-form" novalidate>
            <input type="text" name="title" required  lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入需要的商品">
            <button class="layui-btn" lay-submit lay-filter="formDemo">
                <i class="layui-icon layui-icon-search"></i>
            </button>
            <input type="hidden" name="" value="">
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="content content-nav-base about-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="/protal/commodity">所有商品</a>
            <a href="/protal/buytoday">今日团购</a>
            <a href="/protal/information">最新资讯</a>
            <a href="/protal/about" class="active">关于我们</a>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-box">
      <div class="banner" style="    margin-top: 20px;
    height: 750px;
    width: 79%;
    margin-left: 10%;"></div>
    </div>
    <div class="brief-content layui-clear w1200">
      <div class="img-box">
        <img src="/static/img/us_img1.jpg">
        <img class="top" src="/static/img/us_img2.jpg">
      </div>
      <div class="text">
        <p>郑州大学（Zhengzhou University）简称“郑大”，位于河南省会郑州，是中华人民共和国教育部与河南省人民政府“部省合作共建高校”，是国家“世界一流大学建设高校”、“211工程”、“一省一校”重点建设高校。学校入选了国家2011计划 [1]  、111计划 [2]  、国家建设高水平大学公派研究生项目、卓越工程师教育培养计划、卓越法律人才教育培养计划、卓越医生教育培养计划、国家大学生创新性实验计划、教育部来华留学示范基地、中国政府奖学金来华留学生接收院校及全国深化创新创业教育改革示范高校；拥有国家大学科技园，具有自主招生资格。</p>
      </div>
    </div>
    <div class="banner-text">
      <div class="w1200">
        <p>郑州大学医科教育源于1928年的国立第五中山大学，1952年河南医学院独立建院，开启了河南医学高等教育的先河，1984年更名为河南医科大学；原郑州大学创建于1956年，是新中国创办的第一所综合性大学，1961年郑州师范学院并入，1991年黄河大学并入；郑州工业大学成立于1963年，是原化工部直属重点院校；2000年7月，原郑州大学、郑州工业大学、河南医科大学合并组建新郑州大学。</p>
      </div>
    </div>
    <div class="after-sale w1200">
      <h4>配送售后</h4>
      <div class="item-box">
        <div class="item item1">
          <div class="img-box">
            <img src="/static/img/us_icon1.png">
          </div>
          <p>7天无理由退换货</p>
        </div>
        <div class="item item2">
          <div class="img-box">
            <img src="/static/img/us_icon2.png">
          </div>
          <p>全场满99元顺丰包邮</p>
        </div>
        <div class="item item3">
          <div class="img-box">
            <img src="/static/img/us_icon3.png">
          </div>
          <p>优质客服服务</p>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">

layui.config({
    base: '/static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm'],function(){
      var
     mm = layui.mm;
  
    

});
</script>
</body>
</html>