<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>

<style>
    .item {
        float: left;
        width: 280px;
        height: 366px;
        border: 1px solid #eaeaea;
        background: #fff;
        margin: 4px 47px 60px 2px;
        color: red;
    }
    .img > a > img {
        width: 100%;
        height: 305px;
    }
</style>
<body>

<div class="site-nav-bg">
    <div class="site-nav w1200">
        <p class="sn-back-home">
            <i class="layui-icon layui-icon-home"></i>
            <a href="#">首页</a>
        </p>
        <div class="sn-quick-menu">
            <div class="login"><a href="/logout">退出</a></div>
            <div class="sp-cart"><a href="/protal/shopcart">购物车</a><span>2</span></div>
        </div>
    </div>
</div>


<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="#" title="购物商城">
                    <!--<img src="/static/img/logo.png">-->
                </a>
            </h1>
            <div class="mallSearch">
                <form action="" class="layui-form" novalidate>
                    <input type="text" name="title" required lay-verify="required" autocomplete="off"
                           class="layui-input" placeholder="请输入需要的商品">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <input type="hidden" name="" value="">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="content content-nav-base datails-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="/protal/commodity" class="active">所有商品</a>
                    <a href="/protal/buytoday">今日团购</a>
                    <a href="/protal/information">最新资讯</a>
                    <a href="/protal/about">关于我们</a>
                </div>
            </div>
        </div>
    </div>
    <div class="data-cont-wrap w1200">
        <div class="crumb">
            <a href="javascript:;">首页</a>
            <span>></span>
            <a href="javascript:;">所有商品</a>
            <span>></span>
            <a href="javascript:;">产品详情</a>
        </div>
        <div class="product-intro layui-clear">
            <div class="preview-wrap">
                <a href="javascript:;"><img src="/static/img/details_img1.jpg" id="productImage" style="width: 90%"></a>
            </div>
            <div class="itemInfo-wrap">
                <div class="itemInfo">
                    <input type="hidden" id="productUser" name="productUser">
                    <input type="hidden" id="productId" name="productId">
                    <div class="title">
                        <h4 id="productName">男女宝宝秋冬装套装0一1岁婴儿衣服潮加厚连体衣保暖冬季外出抱衣 </h4>
                        <span><i class="layui-icon layui-icon-rate-solid"></i>收藏</span>
                    </div>
                    <div class="summary">
                        <p class="reference"><span>参考价</span>￥
                            <del id="price" style="color: red">280.00</del>
                        </p>
                        <p class="activity"><span>活动价</span><i>￥</i><strong id="priceWeight"
                                                                    style="color: red">949.00</strong></p>
                        <p class="address-box"><span>商品库存</span><strong class="address" id="sellCount">1000</strong></p>
                    </div>
                    <div class="choose-attrs">
                        <div class="color layui-clear"><span class="title">颜&nbsp;&nbsp;&nbsp;&nbsp;色</span>
                            <div class="color-cont"><span class="btn">白色</span> <span class="btn active">粉丝</span></div>
                        </div>
                        <div class="number layui-clear"><span class="title">数&nbsp;&nbsp;&nbsp;&nbsp;量</span>
                            <div class="number-cont"><span class="cut btn">-</span><input id="productCount"
                                    onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                                    onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                                    maxlength="4" type="" name="" value="1"><span class="add btn">+</span></div>
                        </div>
                    </div>
                    <div class="choose-btns">
                        <button class="layui-btn layui-btn-primary purchase-btn">立刻购买</button>
                        <button class="layui-btn  layui-btn-danger car-btn" onclick="addCard()"><i
                                class="layui-icon layui-icon-cart-simple"></i>加入购物车
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-title" style="    padding: 9px 7px 9px 5px;margin-bottom: 32px;background-color: #b1949412;">
            <a href="javascript:;" class="active tuang" data-content="tuangou" style="    border-bottom: 2px solid #cfb2f6;
    margin-left: 45%;line-height: 56px;color: #666666;font-size: 20px;display: inline-block;">热门推荐</a>
            <!--<a href="javascript:;" data-content="yukao">明日预告</a>-->
        </div>
        <div class="layui-clear" id="list-cont">
            <!--<div class="aside">
                <h4>热销推荐</h4>
                <div class="item">
                    <div class="img"><a href="/protal/details/25"> <img
                            src="https://img14.360buyimg.com/cms/jfs/t23323/87/2306598173/29090/ffd8d3e9/5b7aea8cNfacb285e.jpg"></a>
                    </div>
                    <div class="text"><p class="title">佳能（Canon）EOS 750D 单反套机 </p>
                        <p class="price"><span class="pri">￥3.00</span> <span class="nub">1266付款</span></p></div>
                </div>
                <div class="item-list">
                    <div class="item">
                        <img src="/static/img/details_img2.jpg">
                        <p><span>可爱宝宝粉色连体秋裤</span><span class="pric">￥99.00</span></p>
                    </div>
                    <div class="item">
                        <img src="/static/img/details_img2.jpg">
                        <p><span>可爱宝宝粉色连体秋裤</span><span class="pric">￥99.00</span></p>
                    </div>
                    <div class="item">
                        <img src="/static/img/details_img2.jpg">
                        <p><span>可爱宝宝粉色连体秋裤</span><span class="pric">￥99.00</span></p>
                    </div>
                    <div class="item">
                        <img src="/static/img/details_img2.jpg">
                        <p><span>可爱宝宝粉色连体秋裤</span><span class="pric">￥99.00</span></p>
                    </div>
                    <div class="item">
                        <img src="/static/img/details_img2.jpg">
                        <p><span>可爱宝宝粉色连体秋裤</span><span class="pric">￥99.00</span></p>
                    </div>
                    <div class="item">
                        <img src="/static/img/details_img2.jpg">
                        <p><span>可爱宝宝粉色连体秋裤</span><span class="pric">￥99.00</span></p>
                    </div>
                </div>
            </div>
            <div class="detail">
                <h4>详情</h4>
                <div class="item">
                    <img src="/static/img/details_imgbig.jpg">
                </div>
            </div>-->
        </div>
    </div>
</div>
<script type="text/javascript">

    var detail_url = window.location.href;
    // console.log(detail_url.split("/")[5]);
    layui.use(['jquery'], function () {
        $ = layui.$;
        var cur = $('.number-cont input').val();
        $.ajax({
            url: "/protal/productDetail/" + detail_url.split("/")[5],
            type: 'get',//method请求方式，get或者post
            success: function (data) {//res为相应体,function为回调函数
                console.log(data);
                if (data.success) {
                    $("#productImage").attr("src", data.t.productImage);
                    $("#productName").text(data.t.name);
                    $("#price").text(data.t.price);
                    $("#productUser").val(data.t.productUser);
                    $("#productId").val(data.t.id);
                    $("#sellCount").text(data.t.sellCount);
                    $("#priceWeight").text(data.t.price * data.t.weight);
                }

            },
            error: function () {
                layer.alert("删除指定用户失败", {icon: 5});
            }
        });
        $('.number-cont .btn').on('click', function () {
            if ($(this).hasClass('add')) {
                cur++;

            } else {
                if (cur > 1) {
                    cur--;
                }
            }
            $('.number-cont input').val(cur)
        })

        $.ajax({
            url:"/protal/getGoodsCommodity",
            type:'get',//method请求方式，get或者post
            success:function(data){//res为相应体,function为回调函数
                if(data.success){
                    var total = data.total;
                    $("#list-cont").append(data.t);
                }


            },
            error:function(){
                layer.alert("删除指定用户失败",{icon: 5});
            }
        });

        window.addCard = function () {
            $.ajax({
                url: "/cart/add",
                type: 'post',//method请求方式，get或者post
                dataType: 'json',//预期服务器返回的数据类型
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    // "image": $("#productImage").attr("src")
                    "name": $("#productName").text()
                    ,"customerId": $("#productUser").val()
                    ,"productId": $("#productId").val()
                    ,"price": $("#priceWeight").text()
                    ,"productAmount": $("#productCount").val()
                    ,"image": $("#productImage").attr("src")
                }),
                success: function (data) {//res为相应体,function为回调函数
                    console.log(data);
                    if (data.success) {
                        // layer.alert("加入购物车成功", {icon: 5});
                        alert("加入购物车成功");
                    }

                },
                error: function () {
                    layer.alert("删除指定用户失败", {icon: 5});
                }
            });
        }

    });
</script>


</body>
</html>